<h1>Aye Pirate</h1>
<h2>Name: <%= @pirates.name %> </h2>
<h2>Height: <%= @pirates.height %> </h2>
<h2>Weight: <%= @pirates.weight %> </h2>


<h2>Ships!</h2>
<% @ships.each do |ship| %>
      <p>Name: <%= ship.name %></p>
      <p>Type: <%= ship.type %></p>
      <p>Booty: <%= ship.booty %></p>
<% end %>
